# node modules
node_modules

# tex folder
tex

# compiled LaTeX files
*.pdf
*.tex
*.synctex.gz
*.aux
*.fdb_latexmk
*.fls
*.log

# csv folder
csv

# test TS files
_TS

# ignoring compiled TS files
*.js

# ignoring other compiled files
*.csv
*.txt
*.exe